VITE_API_BASE_URL=http://localhost:8080
VITE_API_AUTH_PATH=/auth/login
VITE_API_REGISTER_PATH=/auth/register
VITE_API_USER_ME_PATH=/user/me
VITE_API_APPOINTMENTS_BOOK_PATH=/appointments/book
VITE_API_APPOINTMENTS_TASKS_PATH=/appointments/my-tasks
VITE_API_APPOINTMENTS_BOOKINGS_PATH=/appointments/my-bookings
VITE_API_APPOINTMENTS_STATUS_PATH=/appointments/status
VITE_API_REVIEWS_PROVIDER_PATH=/reviews/provider
